# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar imágenes
*.jpg

# Ignorar la carpeta del entorno virtual
.venv/
venv/

# No ignorar archivos y carpetas importantes
!/src/
!/README.md
!/main.py
!/.gitignore
!/Requirements.txt



